/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
@import url("/static/font/FiraMono-Medium.ttf");
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert; }

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert; }

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none; }

/* For images to not be able to exceed their container */
img {
  max-width: 100%; }

/* removes spacing between cells in tables */
table {
  border-collapse: collapse; }

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto; }

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert; }

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert; }

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset; }

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none; }

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto; }

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element; }

body {
  font: 18px "FiraMono-Medium", sans-serif; }

h1 {
  font-size: 2.5rem;
  font-weight: bold; }

.main {
  color: whitesmoke;
  min-height: 100vh;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .main::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    background: url("/static/images/background.webp") no-repeat center;
    background-size: cover; }

.card {
  box-shadow: 30px 30px 55px -10px #202020;
  background-color: rgba(200, 200, 200, 0.2);
  border-radius: 20px;
  width: 650px;
  position: relative;
  backdrop-filter: blur(50px);
  border: 2px solid rgba(100, 100, 100, 0.2);
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem; }

.avatar {
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  box-shadow: 0 10px 60px -10px rba(10, 20, 30, 0.5); }

.description {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem; }

.location .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px; }

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem; }
  .social .button {
    border-radius: 15%;
    padding: .5rem .5rem 0.2rem 0.5rem; }
  .social .twitter {
    background: linear-gradient(45deg, #66757f, #00ACEE, #36D8FF, #f0f3f5); }
  .social .github {
    background: linear-gradient(45deg, #333333, #555555); }
